.main-container {
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
.profile-container {
    display: flex;
    flex-direction: row;
    background-color: cornflowerblue;
    border-radius: 5px;
}
.left-sub-container {
    padding: 0 0 20px 20px;
    margin: 0;
    width: 350px;
}
.categories-container{
    padding: 12px 0 0 20px;
}
.button {
    background-color: gold;
    color: darkblue;
    padding: 3px;
    margin: 0 10px 0 0;
    border: 0.1px solid black;
    border-radius: 5px;
}
    .button input {
        background-color: gold;
        border: 0;
    }

.profile-photo-container {
    flex: 0 0 200px;
    width: 110px;
    padding: 0;
    margin-top: 15px;
}

.profile-add-photo-button {
    margin-top: 15px;
}

img {
    border-radius: 5px;
}
.right-sub-container {
    padding: 12px 0 0 0;
}
.name {
    font-size: 20px;
    font-weight: 700;
}

.username {
    font-size: 20px;
    font-weight: 700;
    color: gray;
}
.username::before {
    content: "@";
    font-size: 14px;
    font-weight: 700;
    color: gray;
}
.birthday::before{
    content: "Date of birth: ";
}

.middle-sub-container {
    background-color: cornflowerblue;
    border-radius: 5px;
}
.postoffername{
    font-size: 20px;
}
.postoffer-top-container {
    display: flex;
    flex-direction: row;
}
    .postoffer-top-container textarea {
        overflow: auto;
        resize: none;
    }
.details-container {
    padding: 12px 0 5px 25px;
}
.date-container {
    padding: 12px 0 5px 25px;
}
.postoffer-categories-container {
    padding: 12px 0 0 25px;
}
    .postoffer-categories-container p{
        padding:0 0 0 10px;
        margin: 0;
    }
.postoffer-low-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
}
    .postoffer-low-container div:first-child {
        margin: 0 0 0 20px;
        width: 150px;
    }
    .postoffer-low-container div:last-child {
        margin-left: auto;
    }
    .postoffer-low-container div:nth-child(2) {
        width: 100%;
        text-align: right;
    }