@{
    ViewBag.Title = "Home Page";
}

<head>
    <link type="text/css" rel="stylesheet" href="~/Styles/Home.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
</head>

@section scripts {
    <script src="~/Scripts/home.js"></script>
}


<div class="wrapper">
    <section class="parallax">
        <div class="parallax__body">
            <div class="parallax__container _container">
                <div class="parallax__label">nions</div>
                <h1 class="parallax__title__main"> Social network application for connecting people</h1>
                <h1 class="parallax__title">Find new friends based on your hobbies</h1>
                <h1 class="parallax__title">Create offers to spend time together</h1>
                <h1 class="parallax__title">Communicate with interesting people</h1>
            </div>
            <div class="parallax__images images-parallax">
                <div class="images-parallax__item">
                    <div class="images-parallax__back"></div>
                </div>
                <div class="images-parallax__item">
                    <div class="images-parallax__puzzle1"></div>
                </div>
                <div class="images-parallax__item">
                    <div class="images-parallax__puzzle2"></div>
                </div>
                <div class="images-parallax__item">
                    <div class="images-parallax__puzzle3"></div>
                </div>
                <div class="images-parallax__item">
                    <div class="images-parallax__puzzle4"></div>
                </div>
            </div>
        </div>
    </section>
</div>
