@model GoogleAuthApp.Models.PictureViewModel

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Add Picture</legend>

        <div class="editor-label">Picture file</div>
        <div class="editor-field">
            <input type="file" name="uploadImage" />
        </div>

        <p>
            <input type="submit" value="Upload" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Settings", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}